<ion-view view-title="商品列表" hide-nav-bar="true">
  <ion-content>

    <div class="item item-input-inset tadpole-searchbar-background">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="商品名称" ng-model="search.keyword" autofocus>
      </label>
    </div>

    <ion-list>
      <ion-item class="item-avatar item-text-wrap" ng-repeat="product in allProducts | orderBy: 'name'"
                ng-href="#/product-detail/{{product.name}}">

        <img ng-src="{{product.picture}}">

        <h3>{{product.name}}</h3>

        <div class="row">
          <h2 class="assertive">¥{{product.price}}</h2>

          <p class="col-offset-10 strike">¥{{product.originalPrice}}</p>
        </div>

        <div class="row">
          <div class="col-25"><p>{{product.shippingType}}</p></div>
          <div class="col-50 text-center"><p>{{product.dealCount}}成交</p></div>
          <div class="col-25 text-right"><p>{{product.city}}</p></div>
        </div>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
